{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}
<title>Homepage</title>
{% endblock %}

{% block content%}
<div class="container container-personal">
    <!--form requesting the customers email address-->
    <form method="POST" class="ginas-forms center password-reset">
        <p> Please enter your email address</p>
        {% csrf_token %}
        <!--prints any email errors that may occur-->
        {{ form.email.errors }}
        <label for="id_email">Email Address</label> {{form.email}}
        <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
    <!--./End form-->
</div>
{% endblock %}