{% extends 'base.html' %}
{% block content %}

<h1>Un Infermiere In Irlanda - Le ultime news</h1>
<a href="{% url 'new_post' %}">Aggiungi un Post</a>

{% for post in posts %}
<div class="card mt-5 mb-5">
    <div class="card-header">
        <h5 class="card-title"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Autore: {{post.author}} - {{ post.published_date }}</h6>
    </div>

    <div class="card-body">
        <p class="card-text">{{ post.content|truncatewords:150 | safe }}</p>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Leggi altro</a>
    </div>
    <div class="card-footer text-muted">
        <h6 class="card-subtitle mb-2 text-muted mt-3">Visualizzazioni: {{post.views}}</h6>
    </div>
</div>

{% endfor %}
{% endblock %}

{% block script_js %}
<script>
    $(document).ready(function () {
        $('body,html').animate({
            scrollTop: 250
        }, 800);
    });
</script>
{% endblock %}