{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{%block title %}
<title>{{request.user}} - Personal Page </title>
{% endblock %}

{% block content %}

<div class="container-personal container-fluid">
    <!--User Page Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'profile'%}">Orders <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'edit_profile'%}">Edit Personal
                    Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'change_password' %}">Edit
                    Password</a>
            </li>
        </ul>
    </nav>
    <!--./User Page Navbar-->


</div>

<!-- loading datepicker, not loading adding it in block js-->
<script>
    $('#id_order__date').datepicker();
</script>

{% endblock %}