.basic_price_lined {
    text-decoration: line-through;
}

.voucher-form {
    min-width: 100%;
}

.voucher {
    text-align: center;
}

.center-align {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.checkout-btn {
    margin-top: 0.5rem;
}


.coupon-group {
    display: inline-block;
}

.input-code {
    width: 100% !important;
}

.redeem-btn {
    width: 100%;
    border-radius: 3px;
    width: 100%;
}

.code-form {
    border: 0px;
}

.tr-total-table {
    width: 100%;
}

.container-cart {
    padding: 20px;
    min-height: 100vh;
}

.form-amend-quantity {
    margin: auto;
}

.remove-item-btn {
    float: right;
}