@media (max-width:992px) {
    .navbar-header {
        width: 70%;
    }
}

.cart-mobile {
    float: right;
    display: flex;
}

#navbar {
    transition: top 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}