{% extends "base.html" %}
{% load bootstrap_tags %}

{%block title %}
<title>Edit Profile Info</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-personal">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }} </div>
        {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'edit_profile' %}" class="accountform">
            <fieldset class="form-group">
                <legend>Edit Profile Info</legend>
                {% csrf_token %}
                {{  form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Edit</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}