{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Un Infermiere in Irlanda</title>

    {%block title %} {% endblock %}

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>

<body>
    <!-- Navigation -->
    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">BuyIt</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item active"><a href="{% url 'new_post' %}">New Post</a></li>
                    {% endif %} {% if user.is_authenticated %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'profile' %}"><i
                                class="fa fa-user"></i>
                            Profile</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}"><i
                                class="fas fa-sign-out-alt"></i>
                            Log
                            Out</a></li>
                    {% else %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'register' %}"><i
                                class="fa fa-user-plus"></i>
                            Register</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}"><i
                                class="fas fa-sign-in-alt"></i> Log
                            In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- /End Navigation -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <!--blogpost entries-->
                        {% block content %}
                        {% endblock %}
                        <!--blogpost entries-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Made by Antonio Augello Developer</p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js">
    </script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>

    <!-- extra js block-->
    {% block script_js %} {% endblock %}

    <!-- Personal JS-->
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>