{% extends "base.html" %}
{% block content %}
<div class="row">
    <h3 class="col-12">{{career.titolo}}</h3>
    <p><span class="boldtext col-12">Author:</span> {{career.author}}</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="col-xs-9">
                    <p>{{ career.contenuto|safe }}</p>
                    <p><span class="boldtext">Data Condivisione:</span> {{ career.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{career.views}}</p>
                    <a href="{% url 'get_careers' %}" class="btn btn-default">Torna a Offerte di Lavoro</a>
                    <a href="{% url 'edit_career' career.id %}" class="btn btn-default">Modifica Offerta</a>
                    <hr>
                </div>
            </div>
            <div class="col.sm-12 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="col-12">Contatti</h4>
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text"><span class="font-weight-bold">Città:</span> {{career.città}} </p>
                            </div>
                            <div class="col-12">
                                <p class="card-text"><span class="font-weight-bold">County:</span> {{career.regione}}
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="card-text"><span class="font-weight-bold">Email:</span> <a
                                        href="mailto:{{career.email}}" class="element-content-text text-body">
                                        {{career.email}}
                                    </a>
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="card-text"><span class="font-weight-bold">N. Telefonico:</span><a
                                        href="tel:{{career.numero_telefonico}}" class="element-content-text text-body">
                                        {{career.numero_telefonico}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}