{% extends "base.html" %}
{% load static %}

{% block content %}


<!--List Urls-->
<ul style="list-style-type: decimal;">
    <li><a href="{% url 'nmbi'%}">NMBI - Introduzione</a></li>
    <li><a href="{% url 'nmbi_registrazione'%}">NMBI - Come Registrarsi</a></li>
    <li><a href="{% url 'nmbi_applicazione'%}">NMBI - L'Application Form</a></li>
    <li><a href="{% url 'nmbi_documenti'%}">NMBI - Documenti Necessari</a></li>
    <li><a href="{% url 'nmbi_passifinali'%}">NMBI - Passi Finali</a></li>
</ul>
<!--./List Urls-->

<!-- Application Form-->
<div class="row">
    <div class="container-fluid">
        <h2 class="blog-post-title">L'Application Form </h2>
        <figure id="application">
            <img src="{% static 'img/application.png' %}" alt="application" />
        </figure>


        <p>
            Dopo 2 o 3 settimane, se avete seguito tutte le istruzioni e se non ci sono ritardi con il
            servizio di spedizione dovreste finalmente ricevere il vostro Application Pack.
        </p>

        <p><strong>
                Prima di continuare consiglio di leggere attentamente la <a
                    href="https://www.nmbi.ie/NMBI/media/NMBI/Publications/Overseas-guide-for-applicants_updated_Jan2018_1.pdf?ext=.pdf"
                    target="_blank">Guida Ufficiale</a>.
            </strong></p>

        <p>
            Tornando a noi, abbiamo finalmente tra le mani il nostro Application Pack. Ora sorge il
            problema, come compilarlo? Non preoccupatevi, qui vi dirò tutto passo dopo passo.
        </p>

        <p>
            Ora dobbiamo innanzitutto andare a regisrarci sul sito del NMBI, per creare un nuovo account
            potete <a href="https://www.nmbi.ie/create-account" target="_blank">cliccare qui</a>.
            <br>
            Vi troverete davanti a questa schermata:
            <br><br>
            <figure id="image2">
                <img src="{% static 'img/account.jpg' %}" alt="Account" />
            </figure>
        </p>

        <p>
            Come potete vedere anche dall'immagine qui sopra per la registrazione sono necessari due
            dati di accesso:
            <br>
            <ul>
                <strong></strong>
                <li>PIN/Reference Number</li>
                <li>Codice Personale di Sicurezza</li>
                </strong>
            </ul>
        </p>
        <p>
            Il Pin/Reference Number è il codice che trovate in alto a destra sulla copertina del nostro
            application ed in alto
            a destra su ogni pagina dello stesso.
        </p>

        <p>Il Personal Security Code è il codice che trovate a pag.3 in basso a sinistra.</p>

        <p>
            Ora il dubbio è: <em>A che serve registrarsi?</em>
            Le motivationi principali sono le sequenti:
            <ul>
                <li>Tracciare lo stato della propria applicazione</li>
                <li>Gestire i propri dati personali</li>
                <li>Richiedere certificati</li>
                <li>Controllare lo stato della propria registrazione e pagare la rata annuale</li>
            </ul>
        </p>
    </div>
</div>
<div class="row">
    <div class="w-100">
        <div class="float-right">
            <ul class='d-flex list-inline'>
                <li class="col-6"><a href="{% url 'nmbi_registrazione'%}">Precedente</a></li>
                <li class="col-6"><a href="{% url 'nmbi_documenti'%}">Successivo</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ./Application Form-->

{% endblock %}

{% block script_js %}
<script>
    $(document).ready(function () {
        $('body,html').animate({
            scrollTop: 250
        }, 800);
    });
</script>
{% endblock %}