{% extends "base.html" %}
{% load static %}

{% block content %}


<!--List Urls-->
<ul>
    <li><a href="{% url 'nmbi'%}">NMBI - Introduzione</a></li>
    <li><a href="{% url 'nmbi_registrazione'%}">NMBI - Come Registrarsi</a></li>
    <li><a href="{% url 'nmbi_applicazione'%}">NMBI - L'Application Form</a></li>
    <li><a href="{% url 'nmbi_documenti'%}">NMBI - Documenti Necessari</a></li>
    <li><a href="{% url 'nmbi_passifinali'%}">NMBI - Passi Finali</a></li>
</ul>
<!--./List Urls-->

<!-- Application Form-->
<div class="row">
    <div class="container-fluid">
        <h2 class="blog-post-title">L'Application Form </h2>
        <figure id="application">
            <img src="{% static 'img/application.png' %}" alt="application" />
        </figure>


        <p>
            Dopo 2 o 3 settimane, se avete seguito tutte le istruzioni e se non ci sono ritardi con il
            servizio di spedizione dovreste finalmente ricevere il vostro Application Pack.
        </p>

        <p><strong>
                Prima di continuare consiglio di leggere attentamente la <a
                    href="https://www.nmbi.ie/NMBI/media/NMBI/Publications/Overseas-guide-for-applicants_updated_Jan2018_1.pdf?ext=.pdf"
                    target="_blank">Guida Ufficiale</a>.
            </strong></p>

        <p>
            Tornando a noi, abbiamo finalmente tra le mani il nostro Application Pack. Ora sorge il
            problema, come compilarlo? Non preoccupatevi, qui vi dirò tutto passo dopo passo.
        </p>

        <p>
            Ora dobbiamo innanzitutto andare a regisrarci sul sito del NMBI, per creare un nuovo account
            potete <a href="https://www.nmbi.ie/create-account" target="_blank">cliccare qui</a>.
            <br>
            Vi troverete davanti a questa schermata:
            <br><br>
            <figure id="image2">
                <img src="{% static 'img/account.jpg' %}" alt="Account" />
            </figure>
        </p>

        <p>
            Come potete vedere anche dall'immagine qui sopra per la registrazione sono necessari due
            dati di accesso:
            <br>
            <ul>
                <strong></strong>
                <li>PIN/Reference Number</li>
                <li>Codice Personale di Sicurezza</li>
                </strong>
            </ul>
        </p>
        <p>
            Il Pin/Reference Number è il codice che trovate in alto a destra sulla copertina del nostro
            application ed in alto
            a destra su ogni pagina dello stesso.
        </p>

        <p>Il Personal Security Code è il codice che trovate a pag.3 in basso a sinistra.</p>

        <p>
            Ora il dubbio è: <em>A che serve registrarsi?</em>
            Le motivationi principali sono le sequenti:
            <ul>
                <li>Tracciare lo stato della propria applicazione</li>
                <li>Gestire i propri dati personali</li>
                <li>Richiedere certificati</li>
                <li>Controllare lo stato della propria registrazione e pagare la rata annuale</li>
            </ul>
        </p>

        <hr>

        <h3>Documenti Necessari</h3>

        <p>I documenti necessari sono parecchi e vanno inviati in due differenti plichi, uno va inviato
            di persona ed uno va inviato tramite un'autorità competente, in questo caso l'IPASVI
            (FNOPI).<br> Per facilitarvi ho deciso di dividerli qui di seguito raggruppati come
            dovrebbero essere inviati.</p>

        <p>I documenti da inviare di persona saranno:
            <ul>
                <li>Copia certificata di carta d'identità/passaporto</li>
                <li>Application compilato nel Form A</li>
                <li>Certificato di nascita internazionale (per chi usa la carta d'identità)</li>
                <li>1 fototessera formato passaporto con nome e codice sul retro</li>
            </ul>
        </p>

        <p>I documenti che invierà l'Ipasvi invece saranno:
            <ul>
                <li>Certificato di Onorabilità (Good Standing) e Certificato di Conformità (g2 e g4) in
                    forma originale e tradotta con relativa certificazione di traduzione </li>
                <li>Copia certificata del certificato di iscrizione all'albo e copia originale</li>
                <li>Form C compilato</li>
            </ul>
        </p>
        <r />
        <p>Tutti i documenti non redatti originalmente in lingua inglese dovranno essere affiancati da
            una traduzione effettuata da un traduttore ufficiale, copia certificata (non è necessario
            andare in tribunale a far timbrare dal giudice i documenti).</p>

        <blockquote>
            <p>
                <strong>N.B.</strong>: se non si ha il passaporto bisogna utilizzare una fotocopia della
                carta d’identità che deve essere certificata dal comune/tribunale/avvocato e tradotta ed
                il certificato di nascita internazionale (essendo internazionale appunto non serve farlo
                tradurre).
            </p>
        </blockquote>
        <p>
            Tutti questi documenti dovranno essere inseriti, insieme al form debitamente compilato, in
            una busta chiusa e rinviati all’ABA/NMBI: <em>An Bord Altranais, 18/20 Carysfort Avenue,
                Blackrock, Co Dublin, Ireland.</em>
        </p>
        <p>
            N.B.: Il <strong>G2</strong> ed il <strong>G4</strong> vanno richiesti al Ministero della
            Salute e possono essere scaricati qui a seguire:</p>
        <ul>
            <li> <a href="http://www.salute.gov.it/portale/ministro/p4_8_0.jsp?lingua=italiano&label=servizionline&idMat=PROFS&idAmb=RTI&idSrv=AG2&flag=P"
                    target="_blank">G2 o Attestato di Conformità</a></li>
            <li><a href="http://www.salute.gov.it/portale/ministro/p4_8_0.jsp?label=servizionline&idMat=PROFS&idAmb=RTI&idSrv=AGGS&flag=P"
                    target="_blank">G4 o Certificato di onorabilità professionale (Good standing)</a>
            </li>
        </ul>

        <p>
            I documenti possono essere inviati in unica busta all’ <a href="#address">indirizzo su
                indicato.</a>
        </p>

        <p>
            <h6>Altri Documenti che potrebbero essere utili ma non servono per l'NMBI:</h6>
        </p>
        <ul>
            <li>Certificato Generale del Casellario giudiziale - Richiesto dall'HSE, valido 6 mesi</li>
            <li>Certificato vaccinazioni - Richiesto dall'HSE</li>
        </ul>

        <h5>Passi finali</h5>

        <p>Dopo aver inviato tutti i documenti dovrete aspettare alcuni giorni/settimane che il NMBI
            riceva i vostri documenti e li controlli, il processo potrebbe durare anche mesi. In questo
            lasso di tempo potrete verificare sulla vostra pagina personale del sito del NMBI
            l'avanzamento della richiesta.</p>
        <p>Se tutto è andato a buon fine vi verrà inviato per email o per posta il Credit/Debit Mandate,
            ovvero il documento con cui vi verranno richiesti nuovamente i dati della vostra Carda di
            Credico/Debito per effettuare il pagamento di 145€, ovvero l'ultimo pagamento prima di
            ricevere la vostra Decision Letter.</p>

    </div>
</div>
<div class="row">
    <div class="w-100">
        <div class="float-right">
            <ul class='d-flex list-inline'>
                <li class="col-6"><a href="{% url 'nmbi_registrazione'%}">Precedente</a></li>
                <li class="col-6"><a href="{% url 'nmbi_documenti'%}">Successivo</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ./Application Form-->

{% endblock %}

{% block script_js %}
<script>
    $(document).ready(function () {
        $('body,html').animate({
            scrollTop: 250
        }, 800);
    });
</script>
{% endblock %}