{% extends "base.html" %}
{% load static %}

{% block content %}


<!--List Urls-->
<ul style="list-style-type: decimal;">
    <li><a href="{% url 'nmbi'%}">NMBI - Introduzione</a></li>
    <li><a href="{% url 'nmbi_registrazione'%}">NMBI - Come Registrarsi</a></li>
    <li><a href="{% url 'nmbi_applicazione'%}">NMBI - L'Application Form</a></li>
    <li><a href="{% url 'nmbi_documenti'%}">NMBI - Documenti Necessari</a></li>
    <li><a href="{% url 'nmbi_passifinali'%}">NMBI - Passi Finali</a></li>
</ul>
<!--./List Urls-->

<!-- Documenti -->
<div class="row">
    <div class="container-fluid">
        <h2 class="blog-post-title">Documenti Necessari </h2>

        <p>I documenti necessari sono parecchi e vanno inviati in due differenti plichi, uno va inviato
            di persona ed uno va inviato tramite un'autorità competente, in questo caso l'IPASVI
            (FNOPI).<br> Per facilitarvi ho deciso di dividerli qui di seguito raggruppati come
            dovrebbero essere inviati.</p>

        <p>I documenti da inviare di persona saranno:
            <ul>
                <li>Copia certificata di carta d'identità/passaporto</li>
                <li>Application compilato nel Form A</li>
                <li>Certificato di nascita internazionale (per chi usa la carta d'identità)</li>
                <li>1 fototessera formato passaporto con nome e codice sul retro</li>
            </ul>
        </p>

        <p>I documenti che invierà l'Ipasvi invece saranno:
            <ul>
                <li>Certificato di Onorabilità (Good Standing) e Certificato di Conformità (g2 e g4) in
                    forma originale e tradotta con relativa certificazione di traduzione </li>
                <li>Copia certificata del certificato di iscrizione all'albo e copia originale</li>
                <li>Form C compilato</li>
            </ul>
        </p>
        <r />
        <p>Tutti i documenti non redatti originalmente in lingua inglese dovranno essere affiancati da
            una traduzione effettuata da un traduttore ufficiale, copia certificata (non è necessario
            andare in tribunale a far timbrare dal giudice i documenti).</p>

        <blockquote>
            <p>
                <strong>N.B.</strong>: se non si ha il passaporto bisogna utilizzare una fotocopia della
                carta d’identità che deve essere certificata dal comune/tribunale/avvocato e tradotta ed
                il certificato di nascita internazionale (essendo internazionale appunto non serve farlo
                tradurre).
            </p>
        </blockquote>
        <p>
            Tutti questi documenti dovranno essere inseriti, insieme al form debitamente compilato, in
            una busta chiusa e rinviati all’ABA/NMBI: <em>An Bord Altranais, 18/20 Carysfort Avenue,
                Blackrock, Co Dublin, Ireland.</em>
        </p>
        <p>
            N.B.: Il <strong>G2</strong> ed il <strong>G4</strong> vanno richiesti al Ministero della
            Salute e possono essere scaricati qui a seguire:</p>
        <ul>
            <li> <a href="http://www.salute.gov.it/portale/ministro/p4_8_0.jsp?lingua=italiano&label=servizionline&idMat=PROFS&idAmb=RTI&idSrv=AG2&flag=P"
                    target="_blank">G2 o Attestato di Conformità</a></li>
            <li><a href="http://www.salute.gov.it/portale/ministro/p4_8_0.jsp?label=servizionline&idMat=PROFS&idAmb=RTI&idSrv=AGGS&flag=P"
                    target="_blank">G4 o Certificato di onorabilità professionale (Good standing)</a>
            </li>
        </ul>

        <p>
            I documenti possono essere inviati in unica busta all’ <a href="#address">indirizzo su
                indicato.</a>
        </p>

        <p>
            <h6>Altri Documenti che potrebbero essere utili ma non servono per l'NMBI:</h6>
        </p>
        <ul>
            <li>Certificato Generale del Casellario giudiziale - Richiesto dall'HSE, valido 6 mesi</li>
            <li>Certificato vaccinazioni - Richiesto dall'HSE</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="w-100">
        <div class="float-right">
            <ul class='d-flex list-inline'>
                <li class="col-6"><a href="{% url 'nmbi_applicazione'%}">Precedente</a></li>
                <li class="col-6"><a href="{% url 'nmbi_passifinali'%}">Successivo</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ./Documenti-->

{% endblock %}

{% block script_js %}
<script>
    $(document).ready(function () {
        $('body,html').animate({
            scrollTop: 250
        }, 800);
    });
</script>
{% endblock %}