{% extends "base.html" %}
{% load static %}

{% block content %}


<!--List Urls-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="{% url 'nmbi'%}">NMBI - Introduzione</a></li>
        <li class="breadcrumb-item"><a href="{% url 'nmbi_registrazione'%}">NMBI - Come Registrarsi</a></li>
        <li class="breadcrumb-item"><a href="{% url 'nmbi_applicazione'%}">NMBI - L'Application Form</a></li>
        <li class="breadcrumb-item"><a href="{% url 'nmbi_documenti'%}">NMBI - Documenti Necessari</a></li>
        <li class="breadcrumb-item font-weight-bold" aria-current="page"><a href="{% url 'nmbi_passifinali'%}">NMBI -
                Passi
                Finali</a></li>
    </ol>
</nav>
<!--./List Urls-->

<!-- Documenti -->
<div class="row">
    <div class="container-fluid">
        <h2 class="blog-post-title">Passi finali</h2>
        <div class="mx-auto w-50 mt-5 mb-5 ">
            <img src="https://images.pexels.com/photos/261621/pexels-photo-261621.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                class="application-img" alt="success" />
        </div>
        <p>Dopo aver inviato tutti i documenti dovrete aspettare alcuni giorni/settimane che il NMBI
            riceva i vostri documenti e li controlli, il processo potrebbe durare anche mesi. In questo
            lasso di tempo potrete verificare sulla vostra pagina personale del sito del NMBI
            l'avanzamento della richiesta.</p>
        <p>Se tutto è andato a buon fine vi verrà inviato per email o per posta il Credit/Debit Mandate,
            ovvero il documento con cui vi verranno richiesti nuovamente i dati della vostra Carda di
            Credito/Debito per effettuare il pagamento di 145€, ovvero l'ultimo pagamento prima di
            ricevere la vostra Decision Letter.</p>
    </div>
</div>
<div class="w-100 text-right">
    <p class="mt-5"><a href="{% url 'nmbi_documenti'%}">Precedente</a></p>
</div>
<!-- ./Documenti-->

{% endblock %}

{% block script_js %}
<script>
    $(document).ready(function () {
        $('body,html').animate({
            scrollTop: 250
        }, 800);
    });
</script>
{% endblock %}